<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказать услугу</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <center>
    <div class="order-sheet" style="margin-top: 10%">
        <h1>
            Заказ
        </h1><br>
        <form th:action="@{/orders/add}" method="post">
            <label>Имя: </label>
            <input type="text" th:name="name"/><br><br>
            <label>Номер телефона: </label>
            <input type="text" th:name="phone"/><br><br>
            <input type="submit" value="Заказать"><br><br>
        </form>
        <div style="width: 600px" class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <div style="width: 600px" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <br>
        <a th:href="@{/}"><input type="submit" value="Назад в главную страницу"/></a>
    </div>
    </center>
</body>
</html>